@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .btn {
    @apply py-1 px-2 text-sm rounded-md border border-gray-300 shadow-md md:hover:bg-black/65
     md:hover:text-white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* custom classes */
.slideInDown {
  /* -webkit-animation-name: slideInDown; */
  animation-name: slideInDown;
  /* -webkit-animation-duration: 1s; */
  animation-duration: 200ms;
  /* -webkit-animation-fill-mode: both; */
  animation-fill-mode: both;
  }

  @-webkit-keyframes slideInDown {
  0% {
  /* -webkit-transform: translateY(-100%); */
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  /* -webkit-transform: translateY(0); */
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  } 